@import "tailwindcss";

@theme {
  --font-outfit: 'Outfit', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
  --color-rpm-blue: #0070EA;
  --color-rpm-dark: #0A0A0A;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-dm-sans);
}

.font-outfit {
  font-family: var(--font-outfit);
}

.font-dm-sans {
  font-family: var(--font-dm-sans);
}
